/* #############################################################################
					Blocs principaux des pages
################################################################################*/
html{
	height: 100vh;
}

body{
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.navbar{
	height: 60px;
}

#wrapper{
	max-height:100%;
	flex:1;
}

.sidebar{
	min-height:0;
}

#contentPage{
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
	background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
/*	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
}

#centered-bloc{
	text-align: center;
	padding: 1em;
	vertical-align: middle;
	margin-top: -1em;
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 1.1rem;
	outline: 0;
	max-width: 450px;
}

#dashboardContent{
	max-height: 100%;
	flex: 1;
	overflow: auto;
}


.inline{
	display: flex;
}

.padding-page{
	padding: 3em;
}
/* #############################################################################
					Fonts Color et overwrite
################################################################################*/

i{
	margin: 0 0.5em;
}

h1,h2,h3{

}

h5{
	color: #fff;
}

.sidebar-header{
	padding-left: 0.5em;
}

.adder{
	color: #27ae60;
}

.adder:hover{
	color: #249B56;
}


.red{
	color: #D52F2F;
}

.yellow{
	color: #B59919;
}

.green{
	color: #3BAF38;
}

/* #############################################################################
					Formulaires
################################################################################*/

.form-page{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3em;
}


.form-group{
	text-align: left;
}

form{
	margin: 1em 0;
}

.navbar{
	display: flex;
	justify-content: space-between;
}

/* #############################################################################
					Cards
################################################################################*/


.order-card {
    color: #fff;
}
.order-card:hover{
   -moz-box-shadow: 3px 3px 30px #656565;
	-webkit-box-shadow: 3px 3px 30px #656565;
	-o-box-shadow: 3px 3px 30px  #656565;
	box-shadow: 3px 3px 30px #656565;
	
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}


/* #############################################################################
					Tables et DataTables
################################################################################*/

tr:hover{
	background-color: #F2F2F2;
}

.row-link{
	color: #292929;
}

.row-link:hover{
	color: #292929;
}

.row-link{
	color: #292929;
}


/* #############################################################################
					Form validators
################################################################################*/




/* #############################################################################
					Account Page
################################################################################*/

/* Head */
    .acc-col{
      min-height: 200px;
      margin-top: 5%;
      background-color: #ffffff;
      padding: 20px;
      margin-bottom: 1em;

    }
    .acc-col > h3{
      padding-bottom: 20px;

    }
    hr{
      border:solid 1px #d6d6d6;
    }
    section > form > div{

      padding: 5px;
    }
    .btn-div{

      margin-top:10px;
      padding-bottom: 10px;
    }


	#dashboardContent .ui-head{
		
		text-align:center;
		padding:30px 0px;
		position:relative;
		border-bottom:2px solid #fff;
		box-shadow:0px 0px 5px rgba(0,0,0,0.1);
		background-color: #1997c6;
	}

	
	/* Details */
	#dashboardContent .ui-head .ui-details{
		margin:0px 0px 74px;
	}
	#dashboardContent .ui-head .ui-details h3{
		color:#fff;
		font-size:40px;

		font-weight:300;
	}
	@media (max-width:400px){
		#dashboardContent .ui-head .ui-details h3{
			font-size:25px;
			font-weight:400;
		}
	}

	/* Image */
	#dashboardContent .ui-head .ui-image{
		width:100%;
		position:absolute;
		bottom:-55px;
		z-index: 10;
	}
	#dashboardContent .ui-head img{
		width:100px;
		border-radius:100%;
		margin:0px auto;
		border:4px solid #fff;
		box-shadow:0px 0px 15px rgba(0,0,0,0.1);
	}


/* #############################################################################
					Projects Page
################################################################################*/

.conteneurProjet{
	padding: 2em 0;
}

.projectHeader{
	background-color: #9b59b6;
	padding: 1em;
	color: #fff;
	border-radius: 10px;
}

.teamMember{
	margin: 1em 0;
	padding: 1em;
	border-radius: 10px;
}

.adderTable button{
	margin: 0 1em;
}

.tableauxProject{
	margin: 1em 0;
	
}

.statsTableau ul li{
	list-style-type: none;
	background-image: url(puce.gif);
	background-repeat: no-repeat;
	background-position: 0 0.32em;
	padding-left: 15px;
}

.projectHeader a{
	display:none;
}

.projectHeader:hover a {
	display:block;
}

.modifyLink{
	color: #fff;
}

.modifyLink > i{
	top: 10px;
}

.modifyLink:hover{
	color: #E8E4E4;
}
	

/* #############################################################################
					Alerts
################################################################################*/

.alertBloc{
	position: fixed;
    top: 70px; 
    right:2%;
    z-index: 1;
     width: 30%;
}
