<!-- ////////////////  Affichages des mesages d'alerte /////////////// -->
<div class="alertBloc">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    {% endfor %}
</div>