
{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - MyDashboard{% endblock %}


{% block body %}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

	<a class="navbar-brand mr-1" href="dashboard">Task Manager </a>


	<!-- Navbar Search -->
	<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
	  <div class="input-group">
	    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
	    <div class="input-group-append">
	      <button class="btn btn-primary" type="button">
	        <i class="fas fa-search"></i>
	      </button>
	    </div>
	  </div>
	</form>

	<!-- Navbar -->
	<ul class="navbar-nav ml-auto ml-md-0">
	  <li class="nav-item dropdown no-arrow">
	    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      <i class="fas fa-user-circle fa-fw"></i>
	    </a>
	    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
	      <a class="dropdown-item" href="account">Mon Compte</a>
	      <a class="dropdown-item" href="#">Activity Log</a>
	      <div class="dropdown-divider"></div>
	      <a class="dropdown-item" href="deconnexion">Logout</a>
	    </div>
	  </li>
	</ul>
</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
       <div class="dropdown-divider"></div>

      <!-- Panneau Administrateur -->
      <h5 class="sidebar-header">Administration</h5>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-users"></i>
          <span>Equipes</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">Gérer mes équipes</h6>
          <a class="dropdown-item" href="">Mes équipes</a>
          <a class="dropdown-item adder" href=""><i class="fas fa-plus-circle"></i>Nouvelle equipe</a>
	      </div>
	  </li>
      	<li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          <i class="fas fa-users"></i>
	          <span>Projets</span>
	        </a>
	        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
	          <h6 class="dropdown-header">Gérer les projets</h6>
	          <a class="dropdown-item" href="">Projet 1</a>
	          <a class="dropdown-item" href="">Projet 2</a>
	          <a class="dropdown-item" href="">Projet 3</a>
	          <a class="dropdown-item adder" href=""><i class="fas fa-plus-circle"></i>Nouveau Projet</a>
	        </div>
    	</li>
      </li>
       <div class="dropdown-divider"></div>
      <!-- Panneau Utilisateur -->
      <h5 class="sidebar-header">Suivi de Projets</h5>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Projet 1</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" href="">Tableau 1</a>
          <a class="dropdown-item" href="">Tableau 2</a>
        </div>
      </li>
    </ul>

    <!-- Chargement du contenu de la page -->
	{% block dashboardContent %}
	{% endblock %}

</div>

{% endblock %}





