{# extends dashboardTemplate ans base #}

{% extends "dashboardTemplate.html.twig" %}


{% block dashboardContent %}
<div class="container-fluid padding-page">

    
	<div class="row">
		 <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h5 class="m-b-20 font-weight-bold">Equipes gérées</h5>
                    <h2 class="text-right"><i class="fas fa-users"></i><span>3</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h5 class="m-b-20 font-weight-bold">Projets en cours</h5>
                    <h2 class="text-right"><i class="fas fa-chalkboard-teacher"></i><span>3</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h5 class="m-b-20 font-weight-bold">Mes Tâches</h5>
                    <h2 class="text-right"><i class="fas fa-tasks"></i><span>3</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h5 class="m-b-20 font-weight-bold">Mes Tâches en retard</h5>
                    <h2 class="text-right"><i class="fas fa-hourglass-end"></i><span>0</span></h2>
                </div>
            </div>
        </div>

	</div>

    <div class="row">
        <div class="col-md-6">
            <h3>Echéances de la semaine</h3>
            <table class="table">

                <thead>
                    <tr>
                        <th>Tâche</th>
                        <th>Projet</th>
                        <th>Temps restant</th>
                        <th>Status</th>
                    </tr>
                </thead>


                <tr>
                    
                        <td>Installation des Plugs</td>
                        <td>Projet 1</td>
                        <td>2 jours</td>
                        <td></td>
                   
                </tr>
                 </a>

                 <tr>
                    <td>Installation des Plugs</td>
                    <td>Projet 1</td>
                    <td>2 jours</td>
                    <td> </td>
                </tr>

                 <tr>
                    <td>Installation des Plugs</td>
                    <td>Projet 1</td>
                    <td>2 jours</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
        </div>
    </div>
</div>
{% endblock %}
