
 <!-- Content Starts -->
<div class="ui-content container">

    <div class="row form-page">
      

        <div class="acc-col">
            <section>
              <h3>Nouveau projet</h3>
	            <form class="ng-pristine ng-valid" role="form" action="{{ path('create_projet') }}" id="formAddProject" method="post">
	                <div class="row">
	                   <div class="col-sm-12">
	                      <label for="inputName" class="control-label">Nom du Projet:</label>
	                      <input type="text" required class="form-control" id="projetName" name="projetName">
	                  </div>               
	                </div>
	                <div class="col-sm-12">
	                  <div class="btn-div">
	                   <button type="submit" class="btn btn-primary" >Créer le projet</button>
	                  </div>
	                </div>
                </form>   
            </section>
        </div>
    </div>

</div>


<script>

	 $(function() {

      /* ----------------------  Gestion Ajax du formulaire des MDP ------------------------- */
      var formPass = $('#ajax-formAddProject');

      $(formPass).submit(function(event) {
          // Stop the browser from submitting the form.
          event.preventDefault();
          var formData = 'projetName='+ $('#projetName').val();

          loadpage('#dashboardContent', 'addProjet', formData);
      });

  });
</script>

